<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.htt.po.HttLoginHis">

	<resultMap id="ResultMap" type="com.aylson.dc.htt.vo.HttLoginHisVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="phoneNum" property="phoneNum" jdbcType="VARCHAR" />
		<result column="deviceName" property="deviceName" jdbcType="VARCHAR" />
		<result column="imei" property="imei" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="mac" property="mac" jdbcType="VARCHAR" />
		<!-- <result column="location" property="location" jdbcType="VARCHAR" /> -->
		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="wifi" property="wifi" jdbcType="VARCHAR" />
		<!-- <result column="installedList" property="installedList" jdbcType="VARCHAR" /> -->
		<result column="sIp" property="sIp" jdbcType="VARCHAR" />
		<result column="wifiMac" property="wifiMac" jdbcType="VARCHAR" />
		<result column="isRoot" property="isRoot" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
		<result column="isUsed" property="isUsed" jdbcType="INTEGER" />
		<result column="channel" property="channel" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		htt_loginnew_his.id,
		htt_loginnew_his.phoneNum,
		htt_loginnew_his.deviceName,
		htt_loginnew_his.imei,
		htt_loginnew_his.ip,
		htt_loginnew_his.mac,
		<!-- htt_loginnew_his.location, -->
		htt_loginnew_his.longitude,
		htt_loginnew_his.latitude,
		htt_loginnew_his.position,
		htt_loginnew_his.wifi,
		<!-- htt_loginnew_his.installedList, -->
		htt_loginnew_his.sIp,
		htt_loginnew_his.wifiMac,
		htt_loginnew_his.isRoot,
		htt_loginnew_his.createDate,
		htt_loginnew_his.createdBy,
		htt_loginnew_his.updateDate,
		htt_loginnew_his.updatedBy,
		htt_loginnew_his.isUsed,
		htt_loginnew_his.channel
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="phoneNum != null and phoneNum != ''"> and htt_loginnew_his.phoneNum = #{phoneNum} </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from htt_loginnew_his
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from htt_loginnew_his
		<include refid="Where_Condition" />
		<!-- <if test="sort == null">order by htt_login_his.createDate desc </if> -->
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from htt_loginnew_his
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<!-- handling -->
	<insert id="insert" parameterType="com.aylson.dc.htt.vo.HttLoginHisVo">
		insert into htt_inviteuser_his
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="masterPhoneNum != null" > masterPhoneNum, </if>
		  <if test="studentPhoneNum != null" > studentPhoneNum, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="createdBy != null" > createdBy, </if>
		  <if test="updateDate != null" > updateDate, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="masterPhoneNum != null" > #{masterPhoneNum}, </if>
		  <if test="studentPhoneNum != null" > #{studentPhoneNum}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="createdBy != null" > #{createdBy}, </if>
		  <if test="updateDate != null" > null, </if>
        </trim>
	</insert>
	
	<!-- 更新 -->
	<!-- handling -->
	<update id="updateById" parameterType="com.aylson.dc.htt.vo.HttInviteUserHisVo">
		update 
			htt_inviteuser_his 
		<set>
			<if test="masterPhoneNum != null"> masterPhoneNum = #{masterPhoneNum}, </if>
			<if test="studentPhoneNum != null"> studentPhoneNum = #{studentPhoneNum}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
		</set>
		where id = #{id} 
	</update>
	
	<!-- 根据ID删除 -->
	<!-- handling -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from htt_inviteuser_his
		where id = #{id}
	</delete>
	
</mapper>