<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.htt.po.HttVersionUpgradeConfig">

	<resultMap id="ResultMap" type="com.aylson.dc.htt.vo.HttVersionUpgradeConfigVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="versionCode" property="versionCode" jdbcType="INTEGER" />
		<result column="versionName" property="versionName" jdbcType="VARCHAR" />
		<result column="channel" property="channel" jdbcType="VARCHAR" />
		<result column="apkUrl" property="apkUrl" jdbcType="VARCHAR" />
		<result column="updateType" property="updateType" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		htt_version_upgrade_config.id,
		htt_version_upgrade_config.versionCode,
		htt_version_upgrade_config.versionName,
		htt_version_upgrade_config.channel,
		htt_version_upgrade_config.apkUrl,
		htt_version_upgrade_config.updateType,
		htt_version_upgrade_config.description,
		htt_version_upgrade_config.createDate,
		htt_version_upgrade_config.createdBy,
		htt_version_upgrade_config.updateDate,
		htt_version_upgrade_config.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<!-- 模糊查询 -->
				<if test="titleLike != null and titleLike != ''"> and htt_notice_config.title like CONCAT('%',#{titleLike},'%') </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from htt_version_upgrade_config
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from htt_version_upgrade_config
		<include refid="Where_Condition" />
		<if test="sort == null">order by htt_version_upgrade_config.createDate desc </if>
		<if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
				limit #{offset}, #{limit}
			</if>
		</if>
	</select>

	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from htt_version_upgrade_config
		where id = #{id}
	</select>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.htt.vo.HttVersionUpgradeConfigVo">
		insert into htt_version_upgrade_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="versionCode != null"> versionCode, </if>
			<if test="versionName != null"> versionName, </if>
			<if test="channel != null"> channel, </if>
			<if test="apkUrl != null"> apkUrl, </if>
			<if test="updateType != null"> updateType, </if>
			<if test="description != null"> description, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id}, </if>
			<if test="versionCode != null"> #{versionCode}, </if>
			<if test="versionName != null"> #{versionName}, </if>
			<if test="channel != null"> #{channel}, </if>
			<if test="apkUrl != null"> #{apkUrl}, </if>
			<if test="updateType != null"> #{updateType}, </if>
			<if test="description != null"> #{description}, </if>
		</trim>
	</insert>

	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.htt.vo.HttVersionUpgradeConfigVo">
		update
		htt_version_upgrade_config
		<set>
			<if test="versionCode != null"> versionCode = #{versionCode}, </if>
			<if test="versionName != null"> versionName = #{versionName}, </if>
			<if test="channel != null"> channel = #{channel}, </if>
			<if test="apkUrl != null"> apkUrl = #{apkUrl}, </if>
			<if test="updateType != null"> updateType = #{updateType}, </if>
			<if test="description != null"> description = #{description}, </if>
			<if test="createdBy != null"> createdBy = #{createdBy}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
		</set>
		where id = #{id}
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from
		htt_version_upgrade_config
		where id = #{id}
	</delete>

</mapper>